.abg{background-color: #101010;}
.ah1{text-align: center;}
.ah1{font-size: 200px;}
.ah1{color:chocolate;}
.ah1{text-shadow:10px 10px 10px black  ;}
.ah2{color:chocolate;}
.ah2{text-shadow:10px 10px 10px black  ;}
.ah3{color: chocolate;}
.ah3{text-align: center;}
.ap:link{color:teal;}
.ap:visited{color:teal;}
.ap{text-transform: capitalize;}
.ap{text-align: center;}
.ap{font-size:70px ;}
.ap{text-shadow:10px 10px 10px black  ;}
.ap2{color:teal;}
.ap2{line-height:30px ;}
.ap2{text-transform: capitalize;}
.ap2{text-shadow:15px 15px 10px black  ;}
.marquee1{color: aliceblue;}
.linksheading{color:chocolate;}
.linksheading{text-align: center;}
.linksheading{text-shadow:10px 10px 10px black  ;}
.links:link{color:teal;}
.links:visited{color:teal;}
.links{text-align: center;}
.links{text-shadow:10px 10px 10px black  ;}
.definition{word-spacing:3px ;}
.definition{font-size:20px;}
